/**  Custom Styles for this demo **/

.cta {
    align-self: flex-end;
}

.stateBtn {
  cursor: pointer !important;
  justify-items: center !important;
  min-width: 250px;
  max-width: 250px;
}

#btnHeading {
    text-align: center;
}

#btnDescription {
    text-align: center;
}


/**  Override default styles for this demo only **/

@media screen and (max-width: 500px) {
    /* Table full width on mobile devices */
    article table tbody tr td.table_td_first {
        width:100%;
    }
}

article table tbody tr td.table_td_default {
    padding-right:20px;
    text-align: end;
    white-space: nowrap;
    width: fit-content;
}