/**  Custom Styles for this demo **/

.cta {
    align-self: flex-end;
}

.stateBtn {
  display:flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer !important;
  min-width: 250px;
  max-width: 250px;
}

#btnHeading {
    text-align: center;
}

#btnDescription {
    text-align: center;
}


/**  Override default styles for this demo only **/

article table tbody tr td.table_td_first {
    width:500px;
    max-width: 500px;
}

@media screen and (max-width: 800px) {
    /* Table full width on windows less than  */
    article table tbody tr td.table_td_first {
        width:100%;
    }
}

article table tbody tr td.table_td_default {
    padding-right:20px;
    text-align: end;
    white-space: nowrap;
    width: fit-content;
}

.indent_cell {
    padding-left:1.5rem;
}